#!/bin/bash
#set -eu
#set -x

##################################################################
# GitHub personal access token token (For testing the workflow locally)
export GITHUB_TOKEN='<your github personal access token>'